<!DOCTYPE html>
<html>
<head>
  <title>Bbproto</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <link href="http://examples.getbootstrap.com/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://examples.getbootstrap.com/carousel/carousel.css" rel="stylesheet">
</head>
<body>

<%= yield %>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://examples.getbootstrap.com/assets/js/jquery.js"></script>
    <script src="http://examples.getbootstrap.com/dist/js/bootstrap.js"></script>
    <script src="http://examples.getbootstrap.com/assets/js/holder.js"></script>
</body>
</html>

